.header {
  padding: 17px 0px 17px 0px;
  border-bottom: 1px solid #d6d6d6;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 172px;
  font-weight: 500;
  color: #292929;
}

.header__nav ul {
  display: flex;
}

.header__nav li:not(:last-child) {
  margin-right: 70px;
}

.header__nav a {
  transition: color 0.2s ease;
}

.header__nav a:hover {
  color: #01996d;
}

.header__login {
  margin-left: auto;
}

.header__login a {
  color: #000;
}

.header__login a:hover {
  color: #01996d;
}

.header__login a {
  transition: color 0.2s ease;
}

.header__login a:not(:first-child) {
  margin-left: 35px;
}

@media (max-width: 1199px) {
  .header__row {
    justify-content: space-between;
  }
  .header__nav {
    margin-left: 50px;
  }
  .header__nav li:not(:last-child) {
    margin-right: 30px;
  }
  .header__login {
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .header__nav,
  .header__login {
    display: none;
  }
}
