.how-it-works {
  padding: 169px 0 51px 0;
}

.how-it-works__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.how-it-works__head {
  max-width: 584px;
  margin-right: 30px;
}

.how-it-works-title {
  margin-bottom: -3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 157%;
}

.how-it-works-subtitle {
  font-family: 'Georgia', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
}

.how-it-works__header-content {
  padding-top: 58px;
  max-width: 671px;
  font-weight: 500;
  line-height: 150%;
}

/*steps*/

.how-it-works__steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, 390px);
  column-gap: 95px;
}

.step {
  max-width: 390px;
}

.step:nth-child(2) {
  padding-top: 287px;
}

.step:nth-child(3) {
  padding-top: 54px;
}

.step__heading {
  position: relative;
  padding-top: 135px;
  padding-left: 88px;
  margin-bottom: 55px;
  font-family: 'Georgia', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
}

.step__heading::before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(data-number);
  font-weight: 400;
  font-size: 150px;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
}

.step__text {
  margin-bottom: 60px;
  font-weight: 500;
  line-height: 150%;
}

.step__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 1399px) {
  .how-it-works {
    padding: 60px 0 30px 0;
  }

  .how-it-works__header {
    flex-direction: column;
  }
  .how-it-works-title {
    margin-bottom: 0px;
    font-size: 20px;
  }
  .how-it-works-subtitle {
    font-size: 40px;
    line-height: inherit;
  }
  .how-it-works__header-content {
    padding-top: 30px;
  }
}

@media (max-width: 1389px) {
  .step:nth-child(2) {
    padding-top: 0px;
  }
  .step:nth-child(3) {
    padding-top: 0px;
  }
}

@media (max-width: 419px) {
  .how-it-works__steps {
    grid-template-columns: 1fr;
  }
}
