.mobile-nav-btn {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: none;
}

@media (max-width: 991px) {
  .mobile-nav-btn {
    display: flex;
  }
}

.mobile-nav-btn__icon {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #000;
}

.mobile-nav-btn__icon::after,
.mobile-nav-btn__icon::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 5px;
  background-color: #000;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-btn__icon::before {
  left: 0;
  top: -10px;
}

.mobile-nav-btn__icon::after {
  left: 0;
  top: 10px;
}

/* Трансформация при открывании */

.mobile-nav-btn__icon.active {
  background-color: transparent;
}

.mobile-nav-btn__icon.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-btn__icon.active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
