.story {
  padding: 229px 0 176px;
  background-color: #245852;
  color: #ffffff;
}

.story__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.story__content {
  margin-right: 30px;
  max-width: 580px;
}

.story__heading {
  font-family: 'Georgia', serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  margin-bottom: 33px;
}

.story__text {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 57px;
}

.story__video {
  position: relative;
  max-width: 896px;
  border-radius: 16px;
  overflow: hidden;
}

.story__video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.story__video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.story__video-object {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

@media (max-width: 1509px) {
  .story {
    padding: 100px 0 100px;
  }
  .story__row {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .story__heading {
    margin-top: 30px;
  }
  .story__text {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 40px;
  }
}

@media (max-width: 1399px) {
  .story__heading {
    font-size: 40px;
    line-height: inherit;
  }
}

@media (max-width: 990px) {
  .story {
    padding: 60px 0 40px;
  }
}
